<div class="position-fixed bg-fade vh-100 top-0 start-0 w-100 d-flex">
    <div class="align-self-center flex-fill bg-light fhp-200 text-center">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h2>{{message}}</h2>
                <br />
                <button class="btn btn-success custom-btn fwp-100" (click)="ok();">Ok</button>
                <button class="btn btn-success custom-btn fwp-100 ms-2" (click)="cancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>